[Unit]
Description=VVS Sync Server (LoRa CH2 TX, CMS1)
After=vvs-listener.service
Wants=vvs-listener.service

[Service]
Type=simple
User=pi
Group=pi
ExecStartPre=/bin/sleep 8
WorkingDirectory=/home/pi/vvs/lora
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/vvs/lora/lora_sync_server.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target